* {
  padding: 0;
  margin: 0;
  background-color: #faf9fa;
}

body {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

html,
body {
  height: 100%;
  font-family: 'Kaiti TC', serif;
}

#top-page {
  width: 100vw;
  height: 100vh;
  background-color: #faf9fa;
  display: flex;
  align-items: center;
}

.content-wrapper {
  width: 100vw;
  height: 85vh;
  display: flex;
}

.sidebar {
  width: 30%;
  padding: 0px 60px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}


.sidebar h1 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 8px;
  /* text-align: center; */
}

.sub-title {
  font-size: 12px;
  letter-spacing: 4px;
  /* text-align: center; */
  /* padding: 5px; */
}

i {
  text-decoration: none;
  color: #000;
}


.nav {
  /* height: 80%; */
  width: 100%;
  line-height: 250%;
}

.sidebar-bottom {
  /* height: 20%; */
  width: 100%;
  overflow: hidden;
}





.nav a {
  text-decoration: none;
  color: #000;
}




@keyframes strike {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}

.strike:hover::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  animation-name: strike;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.slides {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
}

.bx-viewport {
  height: 100% !important;
  width: 100%;
}

.slideshow {
  height: 100%;
}

#container {
  height: 100%;
}

.bx-wrapper {
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: none !important;
}

.slide1 {
  background-image: url(/img/slide1.jpg);
}

.slide2 {
  background-image: url(/img/slide2.jpg);
}

.slide3 {
  background-image: url(/img/slide3.jpg);
}

.slide4 {
  background-image: url(/img/slide4.jpg);
}

.coming-soon {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.fixed-position {
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}